*{
    /* margin: 0px;
    padding: 0px; */
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 100px;
   
    grid-template-columns: repeat(2,1fr);
   
}
.form , .intro{
    /* border: 1px solid turquoise; */
    padding: 120px;
    text-align: center;
    /* height: 390px; */
    /* width: 390px; */
    box-shadow: 1px 1px 20px black;
} 
.intro{background-color:rgb(255, 103, 154) ;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    padding: 150px;
    color: white;
}
.btn{
    padding: 15px 40px;
    border-radius: 18px;
    background-color: rgb(255, 103, 154);
    color: white;
    border: 1px solid white;
}
.form{
    border-radius:0px 15px 15px 0px;
}
form{
    display: grid;
    row-gap: 15px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.inp{
    padding: 5px;
}